[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pytest = "*"
pylint = "*"

[packages]
nose = "*"
Sphinx = "*"
sphinx-autobuild = "*"
doc8 = "*"
pylogix = "*"
nose2 = "*"

[requires]
python_version = "3.7"
